@model RecipeStep
<div >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-floating mb-3">
        <input asp-for="Description"  type="text" class="form-control" id="floatingInput" placeholder="Description">
        <label asp-for="Description"  for="floatingInput">Description</label>
        </div>
        
</div>
